{% load pipeline %}<!DOCTYPE html>
<html>
 <head>
    <!-- Vendor CSS -->
    <link href="/static/vendors/animate-css/animate.min.css" rel="stylesheet">
    <link href="/static/vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet">
    <link href="/static/vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/static/vendors/socicon/socicon.min.css" rel="stylesheet">
        
    <!-- CSS -->
    <link href="/static/css/app.min.1.css" rel="stylesheet">
    <link href="/static/css/app.min.2.css" rel="stylesheet">
 </head>
 <body>
   {% include "partials/messages.html" %}
   <section id="content">
     {% block content %}{% endblock %}
   </section>
   {% javascript "posts" %}
   {% block custom_javascripts %}{% endblock %}
 </body>
</html>
