{% extends "base.html" %}
{% load pipeline %}

 
{% block content %}
 <h1>Post Detail</h1>
 <ul>
    <li><h4>{{ post.title }}</h4></li>
    <li><p>{{ post.content }}</p></li>
    <li><a href="{% url "posts:edit" post_id=post.id %}">Edit</a></li>
    <li><a href="{% url "posts:delete" post_id=post.id %}">Delete</a></li>
</ul>    


<section id="comments-section" data-post-slug="{{ post.hash_id }}">
  <h3>Comments ( <span id="comments-count"></span> )</h3>

  <ul>
  </ul>

  <form>
    <input type="text" name="content" placeholder="댓글" required>
    <input type="submit" value="댓글 달기">
  </form>
</section>
{% endblock %}

{% block custom_javascripts %}
  {% javascript "posts" %}

{% endblock %}

