{% extends "base.html" %}

{% block content %}
<section>
  <form action={% url "users:login" %} method="POST">
  <form id="signup" method="post" action="{% url "users:signup" %}" enctype="multipart/form-data">
    {% csrf_token %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>술조타그래</title>
   </head>
    
    <body class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" name="nickname" class="form-control" placeholder="nickname을 적어주세요." required>
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon">
                    <i class="md md-accessibility"></i>
                </span>
                <div class="fg-line">
                    <input type="password" name="password" class="form-control" placeholder="Password를 적어주세요." required>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>
             <a href="" class="btn btn-login btn-danger btn-float" value="login">
                 <i class="md md-arrow-forward"></i>
             </a>
            
            <ul class="login-navigation">
                <li data-block="#l-register" class="btn bgm-pink waves-effect waves-button waves-float">Register</li>
            </ul>
        </div>
        
        <!-- Register -->
        <div class="lc-block" id="l-register">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="nickname을 적어주세요.">
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-mail"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="email을 적어주세요.">
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="password을 적어주세요.">
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
            </div>
            
            <a href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
            
            <ul class="login-navigation">
                <li data-block="#l-login" class="btn bgm-green waves-effect waves-button waves-float">Login</li>
            </ul>
        </div>
        

        <!-- Javascript Libraries -->
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/vendors/waves/waves.min.js"></script>
        <script src="/static/js/functions.js"></script>
    </body>
    </form>    
</section>
{% endblock %}
